@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  background-color: #f8f8f8;
  font-family: "Inter", sans-serif;
}

.navbar {
  background-color: #8a0c54 !important;
}

.navbar-brand {
  font-family: "Gluten", cursive;
}
.navbar .nav-link,
.navbar .navbar-brand,
.navbar .nav-item .dropdown-toggle {
  color: white !important;
}

.content {
  height: 90vh;
}

.card img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.card,
.border {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  will-change: transform;
}

.gallery-item {
  height: 250px;
  background-color: #fff8f0;
  border: 1px solid #8a0c54;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.gallery-item:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.gallery-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.footer {
  background-color: #8a0c54 !important;
  color: #ffffff !important;
  font-weight: 600;
}

.footer .social-media {
  color: #ffffff !important;
}
